.bookItem {
  width: 100%;
  border: 2px solid black;
  padding: 10px;
}

.bookItems-secs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.books > .genre {
  font-size: 15px;
  font-weight: 700;
  color: grey;
  margin-bottom: 10px;
}

.books > .booktitle {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.books > .bookAuthor {
  color: rgb(0, 110, 255);
}

.actionButtons {
  display: flex;
  margin-top: 15px;
}

.actionButtons > li > button {
  padding: 5px 10px 0 0;
  background-color: #fff;
  border: none;
  color: aqua;
  text-align: left;
}

.percentage > .number {
  font-size: 27px;
  text-align: center;
}

.chapter-secInner > .title {
  font-size: 13px;
  margin-bottom: 15px;
  color: rgb(100, 100, 100);
}

.chapter-secInner > li > button {
  padding: 7px 10px;
  margin-top: 10px;
  background-color: rgb(40, 148, 236);
  color: #fff;
  border: none;
}
