.bookItem {
  width: 100%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #e8e8ee;
  padding: 30px;
  border-radius: 4px;
  background-color: rgba(232, 232, 238, 0.85);
  backdrop-filter: blur(10px);
  z-index: -1;
  box-shadow: 10px 10px 5px -2px rgba(0,0,0,0.56);
-webkit-box-shadow: 10px 10px 5px -2px rgba(0,0,0,0.56);
-moz-box-shadow: 10px 10px 5px -2px rgba(0,0,0,0.56);
}

.books {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.bookItems-secs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bookDetails {
  width: 260px;
}

.books > .genre {
  font-size: 15px;
  font-weight: 700;
  color: grey;
}

.books > .booktitle {
  font-size: 22px;
  font-weight: 700;
  font-family: 'RobotoSlab', sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.books > .bookAuthor {
  color: rgb(0, 110, 255);
  font-family: 'RobotoSlab', sans-serif;
}

.actionButtons {
  display: flex;
  margin-top: 15px;
}

.removeBtn {
  padding: 5px 10px 0 0;
  font-family: 'RobotoSlab', sans-serif;
  font-weight: 300;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  background-color: inherit;
  text-align: center;
  border: 1px solid #4386bf;
  color: #4386bf;
  text-align: left;
}

.percentage > .number {
  font-size: 27px;
  text-align: center;
}

.chapter-secInner > .title {
  font-size: 13px;
  margin-bottom: 15px;
  color: rgb(100, 100, 100);
}

.chapter-secInner > li > button {
  padding: 7px 10px;
  margin-top: 10px;
  background-color: rgb(40, 148, 236);
  color: #fff;
  border: none;
}

.line {
  height: 70px;
  background-color: #e8e8e8;
  width: 2px;
}

.update-secInner {
  display: flex;
  align-items: center;
  gap: 20px;
}

@media screen and (max-width: 425px) {
  .bookItem {
    max-width: 350px !important;
    margin: auto;
    margin-bottom: 50px;
  }

  .bookItems-secs {
    flex-direction: column;
    align-items: center;
  }

  .books {
    align-items: center;
  }

  .bookDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .line {
    display: none;
  }

  .update-secInner {
    display: none;
  }

  .chapter-secInner {
    text-align: center;
    margin-top: 30px;
  }
}

@media screen and (max-width:768px) {
  .bookItem {
    max-width: 700px;
    margin: auto;
    margin-bottom: 50px;
  }

  .update-secInner {
    display: none;
  }
}