
.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
}

.addBook {
  width: 70px;
  height: 70px;
  font-size: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgb(40, 148, 236);
  color: azure;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: none;
}
