.form {
  max-width: 1550px;
  width: 100%;
  padding: 2.5rem;
  border-top: 1.5px solid #e8e8e8;
  position: fixed;
  bottom: 0;
  z-index: 10;
  background-color: #fff;
}

.form > .form-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.form > h3 {
  margin-bottom: 10px;
  color: #888;
}

.input,
.category {
  border: 1px solid #e8e8e8;
  margin-right: 2rem;
}

.input {
  padding: 0.813rem 2.688rem;
  margin-right: 2rem;
}

.category {
  border: 1px solid #e8e8e8;
  padding: 0.375rem 9.938rem 0.563rem 1rem;
  color: grey;
}

.form-container > button {
  padding: 0.575rem 1rem;
  text-align: center;
  width: 300px;
  background-color: rgb(40, 148, 236);
  color: #fff;
  border: none;
}
