.booklist-box {
  max-width: 1200px;
  width: 100%;
  z-index: 1;
  height: 100%;
  margin: 10rem 0 3rem;
}

.booklist-box > * + * {
  margin-top: 30px;
}

.notice {
  text-align: center;
  margin-top: 20%;
  color: aliceblue;
}