
.navBar {
  width: 100%;
}

nav {
  display: flex;
  align-items: center;
  background-color: #e8e8e8;
  width: 100%;
  padding: 20px;
  position: fixed;
  top: 0;
  z-index: 100;
  box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25), 0.125em 0.125em 0.125em rgba(0, 0, 0, 0.15);
}

.logo {
  font-size: 1.875rem;
  color: #0290ff;
  font-weight: 700;
  margin-right: 60px;
  width: 43%;
}

.link-btn {
  color: grey;
}

.active {
  color: #121212;
}

.logout {
  border: none;
  padding: 5px 10px;
  background-color: red;
  color: #fff;
}

a {
  color: #000;
  text-decoration: none;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 3rem;
  width: 150px;
  height: 100%;
}

.nav-bar {
  width: 57%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

hr {
  margin-right: 15px;
  color: #e8e8e8;
}

.toggle-menu {
  display: none;
}

@media screen and (max-width:425px) {

  .link-btn {
    font-size: 12px;
  }

  .toggle-menu {
    display: block;
    border: none;
    font-size: 21px;
  }

  .logout {
    padding: 5px;
    font-size: 10px;
    width: 50px;
  }

  .desk {
    display: none;
  }

  .nav-bar {
    position: fixed;
    justify-content: space-evenly;
    top: 50px;
    left: 0;
    right: 0;
    width: 100%;
    padding: 10px;
    background-color: #e8e8e8;
    
  }

  nav {
    justify-content: space-between;
  }

  .nav {
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    font-size: 17px;
  }
}