
.navBar {
  width: 100vh;
  width: 100%;
}

nav {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px;
  position: fixed;
  top: 0;
  justify-content: space-between;
  background: rgb(238, 206, 169);
  box-shadow: 0.25em 0.25em 0.75em rgba(0,0,0,0.25), 0.125em 0.125em 0.125em rgba(0, 0, 0, 0.15);
}

.logo {
  font-size: 1.875rem;
  color: #0290ff;
}

a {
  color: #000;
  text-decoration: none;
}


.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 3rem;
  width: 150px;
  height: 100%;
}

hr {
  height: 40px;
}

.userIcon {
  height: 30px;
  width: 30px;
  background-color: aquamarine;
  border: 1px solid black;
  border-radius: 50%;
}
