* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

body {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

#root {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

ul li {
  list-style: none;
}

button {
  border-radius: 3px;
}

.btn-category {
  padding: 0.575rem 1rem;
  text-align: center;
  width: 300px;
  background-color: rgb(40, 148, 236);
  color: #fff;
  border: none;
  margin-bottom: 3rem;
}

.auth-container {
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-image: url("./components/Home/image/janko-ferlic-sfL_QOnmy00-unsplash\ \(1\).jpg");
  background-size: cover;
}

.auth-form {
  color: #fff;
  border-radius: 20px;
  padding: 2em;
  background-color: rgba(105, 104, 104, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 450px;
  backdrop-filter: blur(3px);
  box-shadow: 10px 10px 5px -2px rgba(0,0,0,0.56);
-webkit-box-shadow: 10px 10px 5px -2px rgba(0,0,0,0.56);
-moz-box-shadow: 10px 10px 5px -2px rgba(0,0,0,0.56);
}

.group {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

label {
  width: 400px;
}

.form-control {
  border-radius: 3px;
  border: 1px solid #ccc;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.form-control:focus {
  outline: none;
}

.btn-primary {
  width: 240px;
  background-color: rgb(40, 148, 236);
  color: #fff;
  border: none;
  padding: 0.575rem 1rem;
  text-align: center;
  border-radius: 3px;
  margin-bottom: 3rem;
}

.errMsg {
  color: red;
  font-size: 12px;
}

@media screen and (max-width: 425px) {
  .auth-form {
    width: 350px;
  }

  label {
    width: 300px;
  }
}